html {
    background-color: #F3F4F6;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0%;
}

header {
    margin: 12px;
}

footer {
    background-color: #09445c;
    margin-top: 24px;
    padding: 24px;
    color: white;
}

main {
    max-width: 800px;
    margin: auto
}

.main-page-book-review {
    background-color: white;
    /* border: 1px solid lightblue; */
    box-shadow: 0 0 10px #9095A1 ;
    padding: 24px
}

.book-cover {
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

#create-tag {
    color:#09445c
}

#book-reviews {
    font-size: 125%;
    color: #09445c;
}

.summary {
    color:#09445c
}

.book-title {
    color:#09445c
}

.detail-page-book-review {
    background-color: white;
    padding: 24px
}

.book-cover {
    width: 200px;
    height: auto;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px
}

button {
    padding: 12px;
    font-size: 110%;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}
